<nav
  class="navbar navbar-expand-lg"
  style="background-color: #20222c"
>
  <div class="container">
    <img
      src="image/logo.png"
      class="img-fluid"
    />

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item p-2">
          <a
            class="nav-link"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link"
            href="/profile"
          >
            Profiles</a
          >
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link"
            href="/visimisi"
            >Visi & Misi</a
          >
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link"
            href="/produk"
            >Produk Kami</a
          >
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link"
            href="/contactme"
            >Kontak Kami</a
          >
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link"
            href="/aboutme"
            >Tentang Kami</a
          >
        </li>
        <li class="nav-item p-2">
          <a
            class="btn btn-outline-light"
            href="#"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
