<section
  style="background-color: #e7eafb"
  class="s"
>
  <div
    class="header"
    style="background-image: url('bg/bg-visi-misi.png'); background-repeat: no-repeat; background-size: cover"
  >
    <h1
      class="text-center text-dark fw-bold"
      style="padding: 125px"
    >
      Tentang Kami
    </h1>
  </div>
  <!-- END Header -->
  <div class="container">
    <div class="row justify-content-center mt-5 pb-5">
      <div class="col-md-7 p-3">
        <h4>Tentang Perusahaan Kami</h4>
        <p
          class=""
          style="text-align: justify"
        >
          Paralax Otomotif adalah sebuah perusahaan showroom yang menyediakan layanan berupa jasa reparasi & jual beli kendaraan bermotor. Bermula dari sebuah bangunan yang berlokasi di Jl. Pegangsaan Timur, Kepanjen, Kabupaten Malang, Jawa
          Timur, Indonesia , Perusahaan kami akhirnya bisa menjangkau pasar yang lebih luas lagi melalui internet.<br /><br />
          Seiring dengan semakin berkembangnya teknologi, maka kami mencoba berinovasi dalam berbisnis. Salah satu bentuk inovasinya adalah dengan menyediakan berbagai layanan perusahaan kami dengan bekerja sama dengan toko toko online
          maupun e-commerce, ini adalah salah satu bentuk pelayanan kami kepada Anda. Paralax Otomotif didirikan oleh Mas Rifqi Alfiansyah Kamil pada tahun 2019. Keberadaan dari website ini diharapkan dapat mempermudah Anda untuk
          mendapatkan berbagai informasi mengenai bisnis dan produk berkualitas tinggi dari kami. <br /><br />
          Dalam memberi layanan, kami selalu mencoba memberi persembahan terbaik kepada siapapun. Selain itu kami juga selalu menjunjung tinggi nilai-nilai etika yang baik, seperti kejujuran, ketepatan, dan profesionalitas dalam berbisnis.
          Mudah-mudahan dengannya website atau toko online kami bisa memberi banyak manfaat bagi Anda.
        </p>
      </div>
      <div class="col-md-5 justify-content-center align-items-center p-3">
        <img
          src="image/image-aboutme.png"
          class="img-fluid p-2 mt-3"
          style="max-height: 90%"
        />
      </div>
    </div>
  </div>
</section>
