<section
  style="background-color: #e7eafb"
  class="s"
>
  <div
    class="header"
    style="background-image: url('bg/bg-visi-misi.png'); background-repeat: no-repeat; background-size: cover"
  >
    <h1
      class="text-center text-dark fw-bold"
      style="padding: 125px"
    >
      Kontak Kami
    </h1>
  </div>
  <!-- END Header -->
</section>

<section
  id="kontak-kami"
  class="mt-5 pt-1"
>
  <div class="container pb-5">
    <div class="row justify-content-center p-3 bg-dark">
      <div class="col-md-6 text-light">
        <h5 class="p-1 text-center mt-3">Kamu dapat Hubungi</h5>
        <div class="row p-3">
          <ul class="">
            <li class="list-group-item">
              <img
                src="image/gmail.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              adminparalax@gmail.com
            </li>
            <li class="list-group-item">
              <img
                src="image/wa.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              +62-897-5735-2724
            </li>
            <li class="list-group-item">
              <img
                src="image/fax.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              (021) 3851193
            </li>
            <li class="list-group-item">
              <img
                src="image/maps.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              Jl. Pegangsaan Timur, Kepanjen, Kabupaten Malang, Jawa Timur, Indonesia
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="col-md-6 text-light">
        <h5 class="p-1 text-center mt-3">Kirim Pesan</h5>
        <div class="row p-3">
          <div class="card-body">
            <form>
              <div class="form-group mt-3">
                <label for="nama">Nama:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nama"
                  placeholder="Masukkan nama"
                />
              </div>
              <div class="form-group mt-3">
                <label for="email">Email :</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Masukkan email"
                />
              </div>
              <div class="form-group mt-3">
                <label for="email">No Telepon :</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Masukkan email"
                />
              </div>
              <div class="form-group mt-3">
                <label for="pesan">Pesan :</label>
                <textarea
                  class="form-control"
                  id="pesan"
                  rows="3"
                  placeholder="Masukkan pesan"
                ></textarea>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary mt-3"
                >
                  Kirim Pesan
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
