<section class="section-event mt-5">
  <div class="container mt-5">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="position-relative mt-4">
        <div class="position-absolute top-50 start-0 translate-middle-y">
          <h3 class="fw-bold">Events</h3>
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y">
          <div class="d-flex">
            <div class="search p-2">
              <form action="">
                <input
                  type="text"
                  class="form-control border border-dark"
                  placeholder="telusuri"
                />
              </form>
            </div>
            <div class="p-2">
              <!-- Example single danger button -->
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-dark dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      >Action</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      >Another action</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      >Something else here</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      >Separated link</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row justify-content-center mb-5 pt-5">
      <div class="col-md-4 mt-3 mb-5">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <img
            src="image/event1.jpg"
            class="img-fluid"
          />
          <div class="card-body text-light">
            <h6 class="text-center">Pameran Motor Tahunan</h6>
            <p class="text-center">10 - 12 Mei 2023</p>
            <p
              class="text-light p-1"
              style="text-align: justify"
            >
              Acara pameran tahunan kami menampilkan koleksi motor terbaru dari berbagai merek terkemuka. Hadirkan diri Anda untuk mendapatkan penawaran eksklusif, mencoba motor baru, dan merasakan pengalaman berkendara terdepan.
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mt-3 mb-5">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <img
            src="image/event1.jpg"
            class="img-fluid"
          />
          <div class="card-body text-light">
            <h6 class="text-center">Touring Komunitas Motor</h6>
            <p class="text-center">Setiap Minggu terakhir setiap bulan</p>
            <p
              class="text-light p-1"
              style="text-align: justify"
            >
              Bergabunglah dengan komunitas motor kami dalam perjalanan seru ke destinasi menarik. Temui sesama penggemar motor, buat kenangan baru, dan rasakan kebersamaan dalam perjalanan bersama.
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mt-3 mb-5">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <img
            src="image/event1.jpg"
            class="img-fluid"
          />
          <div class="card-body text-light">
            <h6 class="text-center">Hari Pelanggan Setia</h6>
            <p class="text-center">1 Agustus 2023</p>
            <p
              class="text-light p-1"
              style="text-align: justify"
            >
              Perayaan khusus untuk pelanggan setia kami! Nikmati diskon eksklusif, hadiah gratis, dan acara khusus sebagai ungkapan terima kasih atas dukungan Anda.
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mt-3 mb-5">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <img
            src="image/event1.jpg"
            class="img-fluid"
          />
          <div class="card-body text-light">
            <h6 class="text-center">Kelas Berkendara Aman</h6>
            <p class="text-center">15 - 16 September 2023</p>
            <p
              class="text-light p-1"
              style="text-align: justify"
            >
              Ikuti kelas berkendara aman yang diselenggarakan oleh instruktur berpengalaman. Pelajari teknik berkendara yang aman dan efektif untuk meningkatkan keahlian berkendara Anda.
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mt-3 mb-5">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <img
            src="image/event1.jpg"
            class="img-fluid"
          />
          <div class="card-body text-light">
            <h6 class="text-center">Kompetisi Fotografi Motor Terbaik</h6>
            <p class="text-center">5 - 30 November 2023</p>
            <p
              class="text-light p-1"
              style="text-align: justify"
            >
              Tunjukkan kreativitas Anda dengan mengikuti kompetisi fotografi motor terbaik. Hadiah menarik menanti para pemenang, dan foto-foto terbaik akan ditampilkan di showroom kami.
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 mt-3 mb-5">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <img
            src="image/event1.jpg"
            class="img-fluid"
          />
          <div class="card-body text-light">
            <h6 class="text-center">Acara Spesial Akhir Tahun</h6>
            <p class="text-center">20 Desember 2023</p>
            <p
              class="text-light p-1"
              style="text-align: justify"
            >
              Merayakan tahun yang berakhir dengan penawaran spesial, pertunjukan live, dan suasana meriah. Sambut tahun baru dengan semangat berkendara yang baru.
            </p>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</section>
