<section id="galery">
  <div class="container">
    <h2 class="text-center p-5">Galeri Foto</h2>
    <div class="row justify-content-center mb-5">
      <div class="col-md-4 p-1">
        <div class="card">
          <img
            src="image/foto.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dokumentasi Showroom</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1">
        <div class="card">
          <img
            src="image/foto.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dokumentasi Showroom</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1">
        <div class="card">
          <img
            src="image/foto.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dokumentasi Showroom</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1">
        <div class="card">
          <img
            src="image/foto.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dokumentasi Showroom</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1">
        <div class="card">
          <img
            src="image/foto.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dokumentasi Showroom</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1">
        <div class="card">
          <img
            src="image/foto.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
          <div class="card-body">
            <p class="card-text text-center">Dokumentasi Showroom</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
