<section
  class="cover"
  style="background-image: url('bg/cover.png'); background-size: cover; background-repeat: no-repeat; height: 500px"
>
  <div class="container-fluid">
    <div class="row content-div justify-content-start p-5">
      <div class="col-md-10">
        <h2 class="fw-bold text-light pt-5 mb-4 p-2 setH1">Paralax Otomotif Official Website...</h2>
        <p class="lead text-light mb-4 p-2 setP">Paralax Otomotif merupakan perusahaan yang bergerak dibidang jualbeli dan reparasi otomotif. Kami beroperasi pada tahun 2019 dengan menggandeng beberapa e-commerce ternama.</p>
        <a
          class="fw-bold mb-4 ms-2 p-2 setH5 btn btn-outline-light"
          href="/profile"
          >Let's Start</a
        >
        <div class="d-flex mb-4">
          <div
            class="rounded-circle sirkel bg-light p-3 m-2"
            style="width: 25px; height: 25px"
          ></div>
          <div
            class="rounded-circle sirkel bg-light p-3 m-2"
            style="width: 25px; height: 25px"
          ></div>
          <div
            class="rounded-circle sirkel bg-light p-3 m-2"
            style="width: 25px; height: 25px"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- informasi Lainnya -->
<section
  id="Info-lainnya"
  class="mt-5 pt-1"
>
  <div class="container pb-5">
    <h3 class="text-center mt-5 mb-2">Informasi Lainnya</h3>
    <br /><br />
    <div class="row p-5 justify-content-center text-center">
      <div class="col-md-4 p-1 text-center">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <div class="card-body">
            <img
              src="image/logo-lain.png"
              class="img-fluid mt-5"
              alt=""
            />
            <h4 class="text-center fw-bold text-light mt-4">Artikel</h4>
            <p class="text-center text-light p-3">Artikel merupakan representasi blog dari perusahaan kami yang melampirkan segala kegiatan terkait berita terbaru, ide maupun update kerja sama dengan Mitra</p>
            <a
              href="/artikel"
              class="btn text-center text-light p-3 mb-3"
              style="background-color: #2e313f"
            >
              Check Now
            </a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 p-1 text-center">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <div class="card-body">
            <img
              src="image/logo-lain.png"
              class="img-fluid mt-5"
              alt=""
            />
            <h4 class="text-center fw-bold text-light mt-4">Event</h4>
            <p class="text-center text-light p-3">Event merupakan kegiatan yang dilakukan perusahaan selama berdiri terkait pengabdian, CSR, pelatihan kerja, outbond team, dan kegiatan memperingati hari-hari besar</p>
            <a
              href="/event"
              class="btn text-center text-light p-3 mb-3"
              style="background-color: #2e313f"
            >
              Check Now
            </a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 p-1 text-center">
        <div
          class="card"
          style="background-color: #20222c"
        >
          <div class="card-body">
            <img
              src="image/logo-lain.png"
              class="img-fluid mt-5"
              alt=""
            />
            <h4 class="text-center fw-bold text-light mt-4">Galery</h4>
            <p class="text-center text-light p-3">Galeri merupakan kumpulan foto kegiatan perusahaan. Galeri ini hadir dengan tujuan mendokumentasikan segala kegiatan perusahaan untuk menjalin kerja sama dengan investor</p>
            <a
              href="/galery-foto"
              class="btn text-center text-light p-3 mb-3"
              style="background-color: #2e313f"
            >
              Check Now
            </a>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</section>

<!-- Klien Kami -->
<section
  id="klien-kami"
  class="mt-5 pt-1"
>
  <div class="container pb-5">
    <h3 class="text-center mt-5 mb-2">Klien Kami</h3>
    <br /><br />
    <div class="row justify-content-center text-center">
      <div class="col-md-2">
        <img
          src="image/shop5.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop6.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop7.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop8.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop9.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop4.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop1.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop3.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
      <div class="col-md-2">
        <img
          src="image/shop2.jpeg"
          class="border-light p-1 m-2"
          style="max-width: 150px"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
<!-- Kontak Kami -->
<section
  id="kontak-kami"
  class="mt-5 pt-1"
>
  <div class="container pb-5">
    <h3 class="text-center mt-5 mb-5">Kontak Kami</h3>
    <div class="row justify-content-center p-3 bg-dark">
      <div class="col-md-6 text-light">
        <h5 class="p-1 text-center mt-3">Kamu dapat Hubungi</h5>
        <div class="row p-3">
          <ul class="">
            <li class="list-group-item">
              <img
                src="image/gmail.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              adminparalax@gmail.com
            </li>
            <li class="list-group-item">
              <img
                src="image/wa.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              +62-897-5735-2724
            </li>
            <li class="list-group-item">
              <img
                src="image/fax.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              (021) 3851193
            </li>
            <li class="list-group-item">
              <img
                src="image/maps.jpeg"
                class="rounded-circle border-light p-1 m-2"
                style="max-width: 60px"
                alt="..."
              />
              Jl. Pegangsaan Timur, Kepanjen, Kabupaten Malang, Jawa Timur, Indonesia
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div class="col-md-6 text-light">
        <h5 class="p-1 text-center mt-3">Kirim Pesan</h5>
        <div class="row p-3">
          <div class="card-body">
            <form>
              <div class="form-group mt-3">
                <label for="nama">Nama:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nama"
                  placeholder="Masukkan nama"
                />
              </div>
              <div class="form-group mt-3">
                <label for="email">Email :</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Masukkan email"
                />
              </div>
              <div class="form-group mt-3">
                <label for="email">No Telepon :</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Masukkan email"
                />
              </div>
              <div class="form-group mt-3">
                <label for="pesan">Pesan :</label>
                <textarea
                  class="form-control"
                  id="pesan"
                  rows="3"
                  placeholder="Masukkan pesan"
                ></textarea>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary mt-3"
                >
                  Kirim Pesan
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
