<section
  style="background-color: #e7eafb"
  class=""
>
  <div
    class="header"
    style="background-image: url('bg/bg-profile.png'); background-repeat: no-repeat; background-size: cover"
  >
    <h1 class="text-center text-dark fw-bold p-5">Produk</h1>
  </div>
  <!-- END Header -->
  <div class="container pb-5 mt-5">
    <div class="row justify-content-center mt-5 pb-5">
      <div class="col-md-4 justify-content-center mb-3 mt-3">
        <div
          class="p-3 rounded-3 card"
          style="background-image: url('bg/bg-produk.png'); background-repeat: no-repeat; background-size: cover"
        >
          <div class="card-body text-center p-2">
            <h5 class="text-light mt-4">Penjualan Motor Baru dan Bekas</h5>
            <p class="text-light mt-4 p-3">Jelajahi koleksi motor baru dan bekas kami yang luas, disertai dengan penjelasan yang mendalam untuk membantu Anda membuat pilihan yang tepat.</p>
            <button
              class="btn text-light p-2 border border-light bg-dark mt-4 mb-3"
              style="width: 100px"
            >
              Detail
            </button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 justify-content-center mb-3 mt-3">
        <div
          class="p-3 rounded-3 card"
          style="background-image: url('bg/bg-produk.png'); background-repeat: no-repeat; background-size: cover"
        >
          <div class="card-body text-center p-2">
            <h5 class="text-light mt-4">Pembiayaan dan Perdagangan</h5>
            <p class="text-light mt-4 p-3">Kami menyediakan opsi pembiayaan yang sesuai dengan kebutuhan Anda, serta layanan perdagangan untuk memudahkan proses pembelian motor baru.</p>
            <button
              class="btn text-light p-2 border border-light bg-dark mt-4 mb-3"
              style="width: 100px"
            >
              Detail
            </button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 justify-content-center mb-3 mt-3">
        <div
          class="p-3 rounded-3 card"
          style="background-image: url('bg/bg-produk.png'); background-repeat: no-repeat; background-size: cover"
        >
          <div class="card-body text-center p-2">
            <h5 class="text-light mt-4">Perawatan dan Perbaikan</h5>
            <p class="text-light mt-4 p-3">Dengan tim teknisi berpengalaman, kami memberikan layanan perawatan dan perbaikan berkualitas tinggi untuk menjaga motor Anda tetap dalam kondisi optimal.</p>
            <button
              class="btn text-light p-2 border border-light bg-dark mt-4 mb-3"
              style="width: 100px"
            >
              Detail
            </button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 justify-content-center mb-3 mt-3">
        <div
          class="p-3 rounded-3 card"
          style="background-image: url('bg/bg-produk.png'); background-repeat: no-repeat; background-size: cover"
        >
          <div class="card-body text-center p-2">
            <h5 class="text-light mt-4">Penjualan Sparepart dan Perlengkapan motor</h5>
            <p class="text-light mt-4 p-3">Menyediakan kebutuhan sepeda motor seperti knalpot, ban, dan peralatan safety kendaraan bermotor yang dapat dibeli melalui online store</p>
            <button
              class="btn text-light p-2 border border-light bg-dark mt-4 mb-3"
              style="width: 100px"
            >
              Detail
            </button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 justify-content-center mb-3 mt-3">
        <div
          class="p-3 rounded-3 card"
          style="background-image: url('bg/bg-produk.png'); background-repeat: no-repeat; background-size: cover"
        >
          <div class="card-body text-center p-2">
            <h5 class="text-light mt-4">Ganti Oli in Friday</h5>
            <p class="text-light mt-4 p-3">Memberikan layanan perawatan Ganti Oli yang kami hadirkan dengan potongan 5% untuk 3 orang pertama setiap hari Jumat</p>
            <button
              class="btn text-light p-2 border border-light bg-dark mt-4 mb-3"
              style="width: 100px"
            >
              Detail
            </button>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 justify-content-center mb-3 mt-3">
        <div
          class="p-3 rounded-3 card"
          style="background-image: url('bg/bg-produk.png'); background-repeat: no-repeat; background-size: cover"
        >
          <div class="card-body text-center p-2">
            <h5 class="text-light mt-4">Sewa Motor no Ribet</h5>
            <p class="text-light mt-4 p-3">Layanan penyewaan kendaraan bermotor antik, custom, maupun kendaraan komersil secara lengkap dengan cara mudah dan efisien.</p>
            <button
              class="btn text-light p-2 border border-light bg-dark mt-4 mb-3"
              style="width: 100px"
            >
              Detail
            </button>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</section>
