<section
  style="background-color: #e7eafb"
  class="s"
>
  <div
    class="header"
    style="background-image: url('bg/bg-visi-misi.png'); background-repeat: no-repeat; background-size: cover"
  >
    <h1
      class="text-center text-dark fw-bold"
      style="padding: 125px"
    >
      Profile
    </h1>
  </div>

  <!-- body content -->

  <div
    class="container text-justify"
    style="text-align: justify"
  >
    <div class="row text-justify justify-content-center mt-5 pt-3">
      <div class="col-md-5 text-center">
        <img
          src="image/profile-company.png"
          class="img-fluid"
          style="max-height: 85%"
        />
      </div>
      <div class="col-md-7 p-3">
        <h4>Profile Perusahaan</h4>
        <p>
          Paralax Otomotif adalah perusahaan showroom yang berdedikasi untuk memberikan solusi terdepan dalam jualbeli maupun reparasi kendaraan bermotor. Dengan visi untuk menjadi perusahaan ekspedisi yang kompetitif dengan ketepatan waktu
          pengiriman yang mengutamakan kepuasan pelanggan. Kami telah berhasil membangun reputasi yang kuat dan kami memandang diri kami sebagai agen perubahan yang terus berinovasi untuk memenuhi kebutuhan pelanggan kami.
        </p>
      </div>
    </div>
    <!-- end Profile Perusahaan -->
    <div class="row mt-5 text-justify">
      <h4>Pengalaman Perusahaan</h4>
      <p class="">
        Sejak didirikan, Paralax Otomotif telah berhasil membangun reputasi sebagai destinasi terkemuka untuk pecinta motor. Dengan fokus pada pelayanan pelanggan yang unggul dan koleksi motor berkualitas tinggi, kami telah menyaksikan
        pertumbuhan yang signifikan dalam penjualan dan kepercayaan pelanggan.
        <br /><br />
        Kami bangga menjadi bagian dari setiap perjalanan berkendara pelanggan kami, menyediakan pengalaman belanja yang memuaskan dan mendalam. Melalui inovasi dalam teknologi dan ketersediaan produk terkini, kami terus berupaya memenuhi
        harapan pelanggan dan menjadi pusat gaya hidup berkendara yang dipercayai. Selama perjalanan kami, kami telah memperluas komunitas motor kami melalui acara, pertemuan, dan dukungan terhadap kegiatan lokal.
        <br /><br />
        Keberlanjutan menjadi fokus kami, dengan pengenalan motor ramah lingkungan dan praktik bisnis yang mendukung lingkungan. Dalam setiap transaksi dan interaksi, kami terus berkomitmen untuk integritas, transparansi, dan keunggulan.
        Kami percaya bahwa pengalaman pelanggan yang positif adalah kunci kesuksesan, dan kami bersemangat untuk terus tumbuh, memberikan dampak positif, dan menjadi mitra andal dalam perjalanan berkendara Anda.
      </p>
    </div>
    <!-- end pengalaman perusahaan -->
    <div class="row justify-content-center mt-5 pb-5 text-justify">
      <div class="col-md-7 p-3">
        <h4>Kelebihan Perusahaan</h4>
        <ul>
          <li><strong>Pengalaman Pelanggan yang Superior:</strong> Kami memprioritaskan kepuasan pelanggan, memberikan pelayanan yang ramah dan profesional setiap saat.</li>
          <li><strong>Kepakaran dan Pengetahuan:</strong> Tim kami terdiri dari para ahli yang berpengetahuan luas tentang dunia motor, siap membantu Anda dalam setiap keputusan pembelian.</li>
          <li><strong>Komitmen pada Kualitas:</strong> Kami hanya menyajikan motor-motor berkualitas tinggi dan terawat dengan baik, sehingga Anda dapat berkendara dengan percaya diri.</li>
        </ul>
      </div>
      <div class="col-md-5 justify-content-center text-center align-items-center p-3">
        <img
          src="image/image-aboutme.png"
          class="img-fluid"
          style="max-height: 60%"
        />
      </div>
    </div>
  </div>
</section>
