<section
  style="background-color: #e7eafb"
  class=""
>
  <div
    class="header"
    style="background-image: url('bg/bg-visi-misi.png'); background-repeat: no-repeat; background-size: cover"
  >
    <h1
      class="text-center text-dark fw-bold"
      style="padding: 125px"
    >
      Visi & Misi
    </h1>
  </div>
  <!-- END Header -->

  <div class="container pb-5 mt-5">
    <div class="row justify-content-center mt-5 pb-5">
      <div class="col-md-5 p-2 mt-3 mb-3">
        <div
          class="card"
          style="height: 17rem"
        >
          <div
            class="card-body text-center text-light"
            style="background-color: #20222c"
          >
            <h1 class="p-3"><strong>Visi</strong></h1>
            <p class="p-3">Menjadi showroom sepeda terdepan, membentuk gaya berkendara kelas dunia dan memberikan pengalaman pelanggan terbaik di setiap perjalanan.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 p-2 mt-3 mb-3">
        <div
          class="card"
          style="height: 17rem"
        >
          <div
            class="card-body text-center text-light"
            style="background-color: #20222c"
          >
            <h1 class="p-3"><strong>Misi</strong></h1>
            <p class="p-3">
              Kami menawarkan pilihan sepeda motor terbaik, layanan pelanggan kelas dunia, sepeda motor inovatif, pengetahuan mendalam, keberlanjutan, komunitas yang kuat, integritas bisnis, serta pertumbuhan dan kemajuan berkelanjutan.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 p-2 mt-3 mb-3">
        <div
          class="card"
          style="height: 17rem"
        >
          <div
            class="card-body text-center text-light"
            style="background-color: #20222c"
          >
            <h1 class="p-3"><strong>Tujuan Perusahaan</strong></h1>
            <p class="p-3">
              Memberikan pengalaman pelanggan terbaik dengan koleksi sepeda motor premier, meningkatkan penjualan melalui inovasi dan layanan yang unggul, serta berkomitmen terhadap keberlanjutan dan pengembangan komunitas sepeda motor yang
              kuat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
